@import './pages/MainScreen.scss';

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-center-center {
    @extend .flex-row;
    justify-content: center;
    align-items: center;
}

.flex-row-between-center {
    @extend .flex-row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-start-center {
    @extend .flex-row;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-column-center-center {
    @extend .flex-column;
    justify-content: center;
    align-items: center;
}
.flex1 {
    display: flex;
    flex: 1;
}
